.form-card {
  max-width: 1280px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  place-content: center;
}

.hero {
  margin: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* https://www.youtube.com/watch?v=HFG3BKOqOlE */
.hero-intro {
  grid-column: 1 / 4;
}

.hero-image {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  align-self: center;
}

.hero-intro, .hero-image {
  grid-row: 1 / 2;
}
